extends layout_BM

block content
	#wrapper
		h1= title
		img(id='BMLarge', type='portrait', src='/images/BM/BladeMaster.png')

		// INLINE ELEMENTS
		#main
			#comboList
				p
					| <span id='comboImg'></span>
			#comboInfo
				h2 Combo Statistics
					button(id="save") Save
				p
					strong Knockdown Value:
					|	<span id='comboKD'></span>
					br
					strong Damage:
					|	<span id='comboDMG'></span>
					br
					strong MP Gain:
					|	<span id='comboMP'></span>
					br
					strong Opponent MP:
					|	<span id='comboMP2'></span>
			#skillInfo
				h2 Skill Information
				p
					|	<b><i><span id='skillName'></span></i></b>
					br
					strong Total Damage:
					|	<span id='skillDMG'></span>
					br
					strong Net MP:
					|	<span id='skillMP'></span>
					br
					| Damage includes PvP modifier
			#commandList
				h2 Command Select
				table
					thead
						th Basic
						th Active
						th Special Active
					tbody
		// /INLINE ELEMENTS