extends layout_BM

block content
	#wrapper
		h1= title
		img(id='BMLarge', type='portrait', src='/images/BM/BladeMaster.png')

		// INLINE ELEMENTS
		#main
			#comboList
				p
					| <span id='comboImg'></span>
			#comboInfo
				h2 Combo Statistics
					button(id="save") Save
				p
					strong Damage:
					|	<span id='comboDMG'></span>
					br
					strong Knockdown Value:
					|	<span id='comboKD'></span>
					br
					strong MP Gain:
					|	<span id='comboMP'></span>
					br
					strong Opponent MP:
					|	<span id='comboMP2'></span>
			#skillInfo
				h2 Command Info
				p
					strong Name:
					|	<span id='skillName'></span>
					br
					strong Damage:
					|	<span id='skillDMG'></span>
					br
					strong Knockdown Value:
					|	<span id='skillKD'></span>
					br
					strong MP Gain:
					|	<span id='skillMP'></span>
			#commandList
				h2 Command Select
				table
					thead
						th Basic
						th Active
						th Special Active
					tbody
		// /INLINE ELEMENTS